@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@* <div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="~/images/example.jpg" alt="Example Image" />
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div> *@
<div style="text-align:center; position:relative;">
    <h1 class="display-4">Welcome</h1>
    <img src="~/images/k8s.png" alt="kubernetes" style="max-width:100%; height:auto; pointer-events:none;">
    <p>@Model.RandonInfo</p>
    <p>Repository <a href="https://github.com/HninNwelAye/myrepo" target="_blank">https://github.com/HninNwelAye/myrepo</a></p>
</div>
